main {
  min-width: 480px;
}
div {
  background-color: lightgray;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  float: left;
  display: table;
}

p {
  display: table-cell;
  vertical-align: middle;
}

#a {
  width: 480px;
  height: 75px;
}

#b {
  width: 480px;
  height: 150px;
}

#pair > div {
  width: 480px;
  height: 125px;
}


#group > div {
  width: 240px;
  height: 250px;
}

#e, #g {
  clear: both;
}

#i {
  width: 480px;
  height: 80px;
}



@media only screen and (min-width: 768px) {

main {
  width: 960px;
  margin: auto;
}


#a {
  width: 960px;
  height: 100px;
}

#b {
  float:left;
  width: 200px;
  height: 600px;
}


#pair > div {
  float: right;
  width: 380px;
  height: 200px;
}



#group > div {
  float: left;
  width: 190px;
  height: 250px;
}

/* #d, #e, #g {
  float: left;
} */

#e, #g {
  clear: none;
}
#i {
  float: right;
  width: 760px;
  height: 150px;
}

}

