





@media only screen and (min-width: 640px) {

main {
  width: 960px;
  margin: auto;
}

div {
  background-color: grey;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#a {
  background-color: red;
  width: 960px;
  height: 100px;
  display: flex;
  order: 1;
}

#b {
  float:left;
  background-color:blue;
  width: 200px;
  height: 600px;
  display: flex;
  order: 2;
}


#pair > div {
  float: right;
  background-color: green;
  width: 380px;
  height: 200px;
  display: flex;
}

#pair {
  display: flex;
  flex-direction: row;
}

#group > div {
  float: left;
  background-color: purple;
  display: flex;
  flex-direction: row;
  width: 190px;
  height: 250px;
}

#i {
  float: right;
  background-color: grey;
  display: flex;
  width: 760px;
  height: 150px;
}

}

#c {
  order: 3;
}
#d {  
  order: 4;
}
#e {
  order: 5;
}
#f {
  order: 6;
}
#g {
  order: 7;
}
#h {
  order: 8;
}
#i {
  order: 9;
}