
div {
  background-color: lightgray;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#a {
  width: 480px;
  height: 75px;
  display: flex;
}

#b {
  width: 480px;
  height: 150px;
  display: flex;
}

#pair > div {
  width: 480px;
  height: 125px;
  display: flex;
}

#group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#group > div {
  width: 240px;
  height: 250px;
  display: flex;
}

#i {
  width: 480px;
  height: 80px;
  display: flex;
}


@media only screen and (min-width: 768px) {

main {
  width: 960px;
  margin: auto;
}


#a {
  width: 960px;
  height: 100px;
  display: flex;
}

#b {
  float:left;
  width: 200px;
  height: 600px;
  display: flex;
}


#pair > div {
  float: right;
  width: 380px;
  height: 200px;
  display: flex;
}

#pair {
  display: flex;
  flex-direction: row;
}

#group > div {
  float: left;
  display: flex;
  flex-direction: row;
  width: 190px;
  height: 250px;
}

#i {
  float: right;
  display: flex;
  width: 760px;
  height: 150px;
}

}

